<nav class="border" >
  <div class="nav-brand">
    <h4>Has Many Through Checkboxes</h4>
  </div>
  <div class="collapsible">
    <input id="collapsible2" type="checkbox" name="collapsible2">
    <label for="collapsible2">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
      </ul>
    </div>
  </div>
</nav>
